.button {
    width: 150px;
    height: 40px;

    background-color: royalblue;
    color: whitesmoke;

    font-size: 16px;
    letter-spacing: 1px;

    border-color: transparent;
    border-radius: 5px;

    cursor: pointer;
}

.button:active {
    transform: scale(0.9);
    transition-duration: 0.1s;
}