.button {
    width: 150px;
    min-width: 40px;
    height: 40px;

    font-size: 16px;
    letter-spacing: 1px;

    cursor: pointer;
}

.button:active {
    transform: scale(0.9);
    transition-duration: 0.1s;
}
