.row {
    display: flex;
    margin: 0 0 5px;

    cursor: pointer;
}

.row:nth-child(odd){
    background-color: whitesmoke;
}

.row:hover {
    background-color: lightblue;
}

.cell {
    padding: 5px;
}